<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/packages/layui-master/src/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/packages/layui-master/src/css/admin.css">
    <script type="text/javascript" src="/packages/jquery.js"></script>
    <script type="text/javascript" src="/js/logout.js"></script>
    <script type="text/javascript" src="/js/cookie.js"></script>
    <script type="text/javascript" src="/packages/layui-master/src/layui.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
    <title>设备管理</title>
    <style>
        .layui-layout-admin .layui-header {
            background-color: #009688;
        }

        .layui-layout-admin .layui-logo {
            background-color: #009688;
        }

        .layadmin-shortcut ul li {
            cursor: pointer;
        }
    </style>
</head>
<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!--导航栏左侧区域-->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible">
                    <a href="#" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>

            </ul>
            <!--导航栏右侧区域-->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        <span id='username'></span>
                    </a>
                </li>
                <li class="layui-nav-item"><a onclick="zx()" style="cursor: pointer;">注销</a></li>
            </ul>
        </div>

        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <div class="layui-logo" lay-href="">
                    <span>实验室安全信息管理系统</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;"  name="主页" id="homepage">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>主页</cite>
                            <span class="layui-bav-more"></span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="/admin_index">后台主页</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item "><a href="#" name="云链接" id="link_others">
                        <i class="layui-icon layui-icon-headset"></i>
                        <cite>实验室程序管理</cite>
                    </a>
                        <dl class="layui-nav-child">
                            <dd><a href="admin_lab_info">一般信息</a></dd>
                            <dd><a href="admin_lab_danger">风险信息</a>
                            </dd>
                            <dd><a href="admin_lab_urgent">应急管理</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed"><a href="#" name="云链接" id="background_manage">
                        <i class="layui-icon layui-icon-headset"></i>
                        <cite>实验室后台管理</cite>
                    </a>
                        <dl class="layui-nav-child">
                            <dd class="layui-nav-itemed"><a href="javascript:;" class="layui-nav-itemed">仪器设备管理</a>
                                <dl class="layui-nav-child">
                                    <dd><a href="admin_device_manage" >设备管理</a></dd>
                                    <dd><a href="admin_cylinder_manage">气瓶管理</a></dd>
                                    <dd><a href="/admin_reagent_manage" class="layui-this">试剂管理</a></dd>
                                </dl>
                            </dd>
                            <dd><a href="javascript:;" class="layui-nav-itemed">预约管理</a>
                                <dl class="layui-nav-child">
                                    <dd><a href="/admin_room_order#">实验室预约</a></dd>
                                    <!-- <dd><a href="javascript:;">设备预约</a></dd>
                                    <dd><a href="/admin_reagent_order">试剂预约</a></dd> -->
                                </dl>
                            </dd>
                            <dd><a href="/admin_user_manage" name="用户管理" id="user_manage">用户管理</a></dd>
                            <dd><a href="/admin_info_manage" name="实验室录入清单管理">实验室录入清单管理</a></dd>

                            <dd><a href="javascript:;" class="layui-nav-itemed">检查表</a>
                                <dl class="layui-nav-child">
                                    <dd><a href="admin_security_check">日常安全检查</a></dd>
                                    <dd><a href="admin_security_check2"> 高校实验室安全检查</a></dd>
                                    <dd><a href="admin_security_check3"> 安全自查情况登记表</a></dd>
                                    <!-- <dd><a href="#">特殊安全检查</a></dd> -->
                                </dl>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="admin_journal" name="主页" id="daily">
                            <i class="layui-icon layui-icon-slider"></i>
                            <cite>实验室管理日志</cite>
                            <span class="layui-bav-more"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--页面标签-->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">

        </div>
        <!--页面body部分-->
        <div class="layui-body">
            <div class="layui-fluid">
                <div class="layui-card">
                    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                        <div class="layui-form-item">
                            <h3 style="font-size: 30px;text-align: center">实验室化学试剂管理</h3>
                        </div>
                    </div>

                </div>
                <div class="layui-col-sm12">
                    <div class="layui-card">
                        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">试剂名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="reagent_name" name="id" placeholder="请输入"
                                               autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">实验室</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="lab_number" name="lab_1" placeholder="请输入" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">产地</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="product_place" name="place" placeholder="请输入" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline"  style="width: 200px;">
                                    <label class="layui-form-label">库存状态</label>
                                    <div class="layui-input-block">
                                        <select name="city" lay-verify="required" id="stock_state">
                                            <option value=""></option>
                                            <option value="normal">正常</option>
                                            <option value="under">不足</option>
                                            <option value="over">超额</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <div class="layui-btn layuiadmin-btn-list" data-type="reload" id="search">
                                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-card-body">
                            <div class="layui-card-body">
                                <table id="reagentView" lay-filter="test"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">批量删除</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <!--<input type="text" name="price_min"  autocomplete="off" class="layui-input" style="height: 25px">-->

</script>
<!--数据模板//显示库存信息状态-->
<script type="text/html" id="titleTpl">
    {{#  if(d.reagent_stock < d.min_stock){ }}
    <button class="layui-btn layui-btn-danger layui-btn-xs">不足</button>
    {{#  } else if(d.reagent_stock >d.max_stock){ }}
    <button class="layui-btn layui-btn-xs">超额</button>
    {{#  } else { }}
    <button class="layui-btn layui-btn-normal layui-btn-xs">正常</button>
    {{#  } }}
</script>
<script>
    $('#username').html(username);
    layui.use('element', function () {
        var element = layui.element;
    });
    //滑块组件
    layui.use('slider', function(){
        var slider = layui.slider;
        //渲染
        slider.render({
            elem: '#slideTest1',  //绑定元素
            max:'20',
            // input:'true'
        });
    });

    layui.use('table', function () {
        var table = layui.table;
        table.render({
            //默认为get请求
            elem: '#reagentView'
            , url: '/manage_reagent'
            , cellMinWidth: 120 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,limits:[5,10,15]
            ,limit:5
            , id: 'testReload'
            ,page:true
            , toolbar: '#toolbarDemo'
            , cols: [[
                {type: 'checkbox'}
                , {field: 'reagent_name', title: '试剂名称', sort: true}
                , {field: 'reagent_spec', title: '剂量'}
                , {field: 'reagent_product', title: '产地'}
                , {field: 'reagent_stock', title: '库存'}
                , {field: 'max_stock', title: '库存上限'}
                , {field: 'min_stock', title: '库存下限'}
                , {field: 'reagent_stock', title: '库存状态', sort: true,templet: '#titleTpl', align: 'center'}
                , {field: 'FID', title: '存放位置'}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
            ]],
            done:function (data) {
                // console.log(data)
            }
        });
        // table.render();

        //监听行工具事件
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据（json格式的键值对）
                , layEvent = obj.event //获得 lay-event 对应的值（编辑、删除、添加）
                ,editList=[]; //存放获取到的那条json数据中的value值（不放key）
            $.each(data,function (name,value) {
                editList.push(value);//将json数据中的value放入数组中
            })

            if (layEvent === 'detail') {
                layer.msg('查看操作');
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构,仅仅是前端展示
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit') {
                // layer.msg('编辑操作');
                layer.open({
                    content:'reagent_edit',
                    type: 2,
                    shade: 0.5,
                    maxmin: true,
                    title: '修改信息',
                    area: ['20%', '40%'],
                    btn: ['确定', '取消'],    // 自定义设置多个按钮
                    success:function(layero,index){

                        let body=layer.getChildFrame('body',index);
                        var inputList = body.find("input");
                        for (var i = 0; i < inputList.length; i++ ) {
                            $(inputList[i]).val(editList[i]); //遍历子窗口的input标签，将之前数组中的值一次放入显示
                        }
                    },
                    btn1: function (index, data) {
                        layer.msg('修改成功');
                        layer.close(index);

                    },
                    btn2: function (index, elem) {
                        layer.msg('已取消')
                        layer.close(index);
                    },
                    btnAlign: 'c',// 设置按钮位置
                });
            }
        });

        //监听头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            console.log(obj.event)
            switch (obj.event) {
                case 'add':

                    // layer.msg('添加');
                    layer.open({
                        content:'reagent_edit',
                        type: 2,
                        title: '新增试剂',
                        area: ['20%', '40%'],
                        btn: ['确定', '取消'],    // 自定义设置多个按钮
                        btn1: function (index, elem) {
                            layer.msg('新增成功');
                            layer.close(index);
                        },
                        btn2: function (index, elem) {
                            layer.msg('已取消')
                            layer.close(index);
                        },
                        btnAlign: 'c',// 设置按钮位置
                    });
                    break;
                case 'delete':
                    layer.msg('删除');
                    break;
            }
        });
        //查询功能
        var active = {
            reload: function () {
                var index = layer.msg('查询中，请稍候...',{icon: 16,time:false,shade:0});
                setTimeout(function () {
                    table.reload('testReload', {
                        page: {
                            curr: 1
                        }
                        , where: {
                            reagent_name:$('#reagent_name').val(),
                            product_place:$('#product_place').val(),
                            lab_number:$('#lab_number').val(),
                            stock_state:$('#stock_state').val()
                        }
                    },'data');
                    layer.close(index);
                },500)
            }
        };
        $('#search').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        })

    });


</script>
</body>
</html>
