<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/packages/layui-master/src/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/packages/layui-master/src/css/admin.css">
    <script type="text/javascript" src="/packages/jquery.js"></script>
    <script type="text/javascript" src="/packages/layui-master/src/layui.js"></script>
    <title>实验室信息查询</title>
</head>
<body>
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header">在许多活动里，每天都会有意外发生，而许多意外都是发生在实验室。因此，为了减少意外发生的几率，我承诺：</div>
        <div class="layui-card-body">
            <ul class="layui-timeline">
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">第一条</h3>
                        <ul>
                            <li>在我动手之前，我会听从指导来准备所有的活动，并且确定自己已经听明白了操作要求。</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">第二条</h3>
                        <ul>
                            <li> 保护仪器，认真操作。</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">第三条</h3>
                        <ul>
                            <li> 在实验室，我不会吃、喝或尝任何东西。 这不仅包括食物和饮料，也包括其它的一些物品。我会仅仅为了科学活动而使用这些科学材料。</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">第四条</h3>
                        <ul>
                            <li>我不会拿橡皮筋、回形针或者粉末等东西来玩。</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">第五条</h3>
                        <ul>
                            <li> 当老师下达命令后我再开始活动。我会按步骤做这些活动并且不去做不明白的事情。</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">第六条</h3>
                        <ul>
                            <li> 在实验室活动的时候，我会尽可能保持安静和冷静。</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">第七条</h3>
                        <ul>
                            <li>
                                小心地通过触觉、嗅觉、视觉和听觉进行探究。当用到粉末状物品的时候，我尽量不将它弄洒，因为其他人也许会把它吸进自己的身体。在我实验的时候，我尽量不去触摸眼睛，防止手上的杂质揉到眼睛里去。
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">第八条</h3>
                        <ul>
                            <li> 通过写、画观察到的结果，我会认真的记录在记录单里。</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">第九条</h3>
                        <ul>
                            <li> 做完实验，把仪器放回原处，清洗双手，打扫实验桌以保持实验室的整洁。</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">第十条</h3>
                        <ul>
                            <li> 如有损伤或意外立刻向老师报告，不擅自处理问题。</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">第十一条</h3>
                        <ul>
                            <li> 遵守科学实验室所有的安全守则。</li>
                        </ul>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <p> 　我已经阅读完这份承诺书，并且有些不清楚的内容我也弄明白了，我同意在实验室遵守这些纪律。为了保证一个安全的教室环境和良好的探究氛围，我也同意书面和口头的纪律。
                        </p>
                        <!--<h3 class="layui-timeline-title"></h3>-->
                    </div>
                </li>
            </ul>
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="font-size: 20px;color: blue">我同意</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="switch" id="status_id"  lay-text="是|否" lay-skin="switch">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    layui.use('form', function () {
        var form = layui.form;
        //各种基于事件的操作，下面会有进一步介绍
    });
</script>
</body>
</html>
