<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/packages/layui-master/src/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/packages/layui-master/src/css/admin.css">
    <script type="text/javascript" src="/packages/jquery.js"></script>
    <script type="text/javascript" src="/packages/layui-master/src/layui.js"></script>
    <title>密码修改</title>
</head>


<body>

    <form class="layui-form layui-form-pane layui-row changePwd" style="padding:10px 80px;width:70%">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">旧密码</label>
                <div class="layui-input-inline">
                    <input type="password" value="" placeholder="请输入旧密码" lay-verify="required|oldPwd"
                        class="layui-input pwd">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                    <input type="password" value="" placeholder="请输入新密码" lay-verify="required|newPwd" id="oldPwd"
                        maxlength="14" name='password' class="layui-input pwd">
                </div>
                <div class="layui-form-mid layui-word-aux">6到14个字符</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-inline">
                    <input type="password" value="" placeholder="请确认密码" lay-verify="required|confirmPwd"
                        class="layui-input pwd">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <button class="layui-btn" lay-submit lay-filter="changePwd">立即修改</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </form>
    <script>


        layui.use(['form', 'layer'], function () {
            var form = layui.form;
            var layer = layui.layer;
            //添加验证规则
            /*设置session*/
            $(function () {
                $.ajax({
                    type: 'post',
                    url: '/session',
                    success: function (data) {
                        var user_id = data.user_id
                        form.on('submit(changePwd)', function (data) {
                            return false  //赋予提交按钮属性
                        })
                        form.verify({
                                oldPwd: function (value, item) {
                                    var Password;
                                    $.ajax({
                                        type: 'get',
                                        async: false,       //关键是这句  
                                        url: '/getPassword',
                                        data: {
                                            user_id: user_id,
                                        },
                                        success: function (res) {
                                            Password = res[0].password;
                                            return Password   //返回值
                                        }
                                    })
                                    if (value != Password) {
                                        return "密码错误，请重新输入！";
                                    }
                                },
                                newPwd: function (value, item) {
                                    if (value.length < 6) {
                                        return "密码长度不能小于6位";
                                    }
                                },
                                confirmPwd: function (value, ) {
                                    let endPass = $('input[name=password]').val();
                                    if ($('input[name=password]').val() !== value) {
                                        return '两次密码输入不一致！';
                                    } else {
                                        $.ajax({
                                            type: 'post',
                                            url: '/updataPassword',
                                            data: {
                                                user_id: user_id,
                                                endPass: endPass,
                                            },
                                            success: function (data) {
                                                setInterval(() => {
                                                    layer.msg('密码修改成功', {
                                                        icon: 1,
                                                        time: 500
                                                    }, function () {
                                                        var index = parent.layer.getFrameIndex(window.name);
                                                        parent.layer.close(index);//关闭当前页
                                                    });
                                                }, 1000)
                                            }
                                        })

                                    }
                                }
                            })

                    }
                });
            });



        });

    </script>
</body>

</html>